body{
    background-color:#d7cec7;
    
}

.title
{
    color:#828282;
    text-align:center;
    
 }
 
.paragraph_font
{
    color:#828282;
    font-weight:bolder;
    text-align:justify;
    font-size:large;
}

.footer{
    position:static;
    bottom:0px;
    right:0px;
    left:0px;
    background-color:#2B2B2B;
    margin-bottom:0px;
    color:#ADFF2F;
    font-weight:bold;
    width: 100%;
   
    
}

.footgrid{
    position: relative;

    padding-right:0px;
    padding-left: 10px;
}

.footernav >li >a{
  border-right:0px;
  color:#ADFF2F;
}

.footernav >li >a:hover{
  background-color:transparent;
  color:#ADFF2F;
}

.footernav >li >a >img:hover{
  border:3px solid #fffffb;
  border-radius:15px;
}

.hotlinetext{
    font-family: Calibri;
    font-size: 35px;
    color:#ffffff;
    
}

.hotlinetextspan{
    color:#ffcc00;
}
.cattext{
    font-family: Calibri;
    font-size: 20px;
    color: #bbbbbb;
}

.catlogosec{
    padding-left:10px;
}

/* navbar toggle buttton hover*/
.navbar-inverse .navbar-toggle:hover
 {
     background-color:#ADFF2F;
 }

 /* navbar toggle buttton focus*/
.navbar-inverse .navbar-toggle
{
    background-color:#4B806B;
}

/* navbar toggle buttton active*/
.navbar-inverse .navbar-toggle:focus
{
    background-color:#ADFF2F;
}
#myCarousel{
    position:relative;
    top:50px;
}


