@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
    background-color:#ccccff;
    font:calibri;
    
}

.defcontent{
    position:relative;
}
.defmid{
    border-left:2px solid #003366;
    border-right:2px solid #003366;
}
.pckset{
    border-left:2px solid #0b4d90;
    border-right:2px solid #0b4d90;
}

.vehsetsethead{
    color:#003366;
    position:relative;
    left:5px;
}

.vehsetset{
    position:relative;
    left:10px;
}

.vehgridrow{
    
}