body{
    background-color:#ccccff;
    
}

.defcontent{
    position:relative;
}
.defmid{
    border-left:2px solid #003366;
    border-right:2px solid #003366;
}
.pckset{
    border-left:2px solid #0b4d90;
    border-right:2px solid #0b4d90;
}

.vehsetsethead{
    color:#003366;
    position:relative;
    left:20px;
}

.vehsetset{
    position:relative;
    left:30px;
}

.vehgridrow{
    
}