body{
    background-color:#ccccff;
    font:calibri;
    
}

 .mysty {
  outline: none;
  display: block;
  width: 100%;
  border: 1px solid #d9d9d9;
  margin: 0 0 20px;
  padding: 10px 15px;
  box-sizing: border-box;
  font-weight: 400;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.mylb1{
    font-family:Calibri;
    margin: 0 0 20px;
    color:#003366 ;
    font-weight: 500;
    font-size: 16px;

}
.mysty:focus {
  border: 1px solid #33b5e5;
  color: #333333;
}
.mybtn{
  font-family:Calibri;
  font-weight:500;
  font-size: 20px;
  letter-spacing: 1px;
  cursor: pointer;
  background: #33b5e5;
  width: 100%;
  border: 0;
  padding: 5px;
  color: #ffffff;
  
}
.mybtn:hover {
 background: #178ab4;

}
.pwfor {
    padding:5px 5px !important;
    font-family:Calibri !important;
    font-size:12px !important;
    cursor:pointer !important;
    

}
.HyperLink1 {
    color:#003366;
    font-family:Calibri !important;
    
}
.panel-body{
    background:#ccccff;

}
.panel-primary > .panel-heading{
    background-color:#ccccff;
    border:none;
}


.title > p {
    color: #178ab4;
    font: calibri;
    font-size: 40px;
}